$nipponcolors: (
    nadeshiko: #dc9fb4,
    kohbai: #e16b8c,
    suoh: #8e354a,
    taikoh: #f8c3cd,
    ikkonzome: #f4a7b9,
    kuwazome: #64363c,
    ighigo: #b5495b,
    usubeni: #e87a90,
    imayoh: #d05a6e,
    nakabeni: #db4d6d,
    sakura: #fedfe1,
    umenezumi: #9e7a7a,
    karakurenai: #d0104c,
    enji: #9f353a,
    kurenai: #cb1b45,
    toki: #eea9a9,
    cyohsyun: #bf6766,
    kokiake: #86473f,
    sakuranezumi: #b19693,
    jinzamomi: #eb7a77,
    azuki: #954a45,
    suohkoh: #a96360,
    akabeni: #cb4042,
    shinsyu: #ab3b3a,
    haizakura: #d7c4bb,
    kuriume: #904840,
    ebicha: #734338,
    ginsyu: #c73e3a,
    kurotobi: #554236,
    benitobi: #994639,
    akebono: #f19483,
    benikaba: #b54434,
    mizugaki: #b9887d,
    sangosyu: #f17c67,
    benihiwada: #884c3a,
    syojyohi: #eb3015,
    entan: #d75455,
    shikancha: #b55d4c,
    hiwada: #854836,
    kakishibu: #a35e47,
    ake: #cc543a,
    tobi: #724832,
    benihi: #f75c2f,
    kurikawacha: #6a4028,
    bengara: #9a5034,
    terigaki: #c46263,
    edocha: #af5f3c,
    araisyu: #fb966e,
    momoshiocha: #724938,
    karacha: #b47157,
    tokigaracha: #db8e71,
    ohni: #f05e1c,
    sohi: #ed784a,
    ensyucha: #ca7853,
    kabacha: #b35c37,
    kogecha: #563f2e,
    akakoh: #e3916e,
    suzumecha: #8f5a3c,
    shishi: #f0a986,
    sodenkaracha: #a0674b,
    kaba: #c1693c,
    kokikuchinashi: #fb9966,
    kurumi: #947a6d,
    taisya: #a36336,
    araigaki: #e79460,
    kohrozen: #7d532c,
    akakuchiba: #c78550,
    tonocha: #985f2a,
    akashirotsurubami: #e1a679,
    sencha: #855b32,
    kanzo: #fc9f4d,
    sharegaki: #ffba84,
    beniukon: #e98b2a,
    umezome: #e9a368,
    biwacha: #b17844,
    chojicha: #96632e,
    kenpohzome: #43341b,
    kohaku: #ca7a2c,
    usugaki: #ecb88a,
    kyara: #78552b,
    chojizome: #b07736,
    fushizome: #967249,
    kuchiba: #e2943b,
    kincha: #c7802d,
    kitsune: #9b6e23,
    susutake: #6e552f,
    usukoh: #ebb471,
    tonoko: #d7b98e,
    ginsusutake: #82663a,
    ohdo: #b68e55,
    shiracha: #bc9f77,
    kobicha: #876633,
    kigaracha: #ca8126,
    yamabuki: #ffb11b,
    yamabukicha: #d19826,
    hajizome: #dda52d,
    kuwacha: #c99833,
    tamago: #f9bf45,
    shirotsurubami: #dcb879,
    kitsurubami: #ba9132,
    tamamorokoshi: #e8b647,
    hanaba: #f7c242,
    namakabe: #7d6c46,
    torinoko: #dac9a6,
    usuki: #fad689,
    kikuchiba: #d9ab42,
    kuchinashi: #f6c555,
    tohoh: #ffc408,
    ukon: #efbb24,
    karashi: #caad4f,
    higosusutake: #8d742a,
    rikyushiracha: #b4a582,
    aku: #877f6c,
    rikyucha: #897d55,
    rokohcha: #74673e,
    nataneyu: #a28c37,
    uguisucha: #6c6024,
    kimirucha: #867835,
    mirucha: #62592c,
    kariyasu: #e9cd4c,
    nanohana: #f7d94c,
    kihada: #fbe251,
    mushikuri: #d9cd90,
    aokuchiba: #ada142,
    ominaeshi: #ddd23b,
    hiwacha: #a5a051,
    hiwa: #bec23f,
    uguisu: #6c6a2d,
    yanagicha: #939650,
    koke: #838a2d,
    kikujin: #b1b479,
    rikancha: #616138,
    aikobicha: #4b4e2a,
    miru: #5b622e,
    sensaicha: #4d5139,
    baikocha: #89916b,
    hiwamoegi: #90b44b,
    yanagizome: #91ad70,
    urayanagi: #b5caa0,
    iwaicha: #646a58,
    moegi: #7ba23f,
    nae: #86c166,
    yanagisusutake: #4a593d,
    matsuba: #42602d,
    aoni: #516e41,
    usuao: #91b493,
    yanaginezumi: #808f7c,
    momo: #f596aa,
    gunjyo: #51a8dd,
    hai: #828282
) !global !default;

@function get-nipponcolor($colorname) {
    $res: map-get($nipponcolors, $colorname);
    @if $res == null {
        @return null;
    }
    @else {
        @return $res;
    }
}
